{% extends "base.html" %}
{% block title %}Update{% endblock %}
{% from "render_field.html" import render_field %}
{% block content %}
<h2 class="fs-1 mt-5 text-center">Update Post</h2>
<form action={{url_for('post_bp.update', id=post.id)}} method="post" class="bg-dark-subtle p-5 mt-5 mb-5 text-center"
      enctype="multipart/form-data" novalidate>
    {{ form.csrf_token }}
    {{ render_field(form.title) }}
    {{ render_field(form.text) }}
    {{ form.image }}
    {{ render_field(form.type) }}
    {{ render_field(form.enabled) }}
    {{ form.submit(class="btn btn-primary btn-lg bg-dark center") }}
</form>
{% endblock %}