{% extends "base.html" %}
{% block title %}Post{% endblock %}
{% block content %}
  <div class="card mt-5 mx-auto col-md-6">
    <div class="card-body">
      <h5 class="card-title">{{ post.title }}</h5>
      <p class="card-text">{{ post.created.strftime('%d-%m-%Y (%H:%M)') }}</p>
      <p class="card-text">Type: {{ post.type.name }}</p>
      <p class="card-text">{{ post.text }}</p>
      <img src="{{ url_for('static', filename='post_pics/' + post.image) }}"
           class="card-img-top" alt="{{ post.title }}" height="400px" width="200px">
      <p class="card-text">Enabled: {% if post.enabled %}Yes{% else %}No{% endif %}</p>
      {% if current_user.id == post.user_id %}
        <a href="{{ url_for('post_bp.update', id=post.id) }}" class="btn btn-info">Edit</a>
        <a href="{{ url_for('post_bp.delete', id=post.id) }}" class="btn btn-danger"
           onclick="return confirm('Are you sure you want to delete this post?')">Delete</a>
      {% endif %}
    </div>
  </div>
{% endblock %}
