{% extends "base.html" %}
{% block title %}Contact{% endblock %}
{% block content %}
    <h4 class="fs-1 p-2 mt-5 mb-5 text-center">Contact me</h4>
    <div class="w-80 bg-dark-subtle p-5 mb-5">
        <p>Feel free to reach out through the contact form below, and I'll get back to you as soon as possible.
            Alternatively, you can connect with me on social media or through the provided email address.</p>
        <button type="button" class="btn btn-primary btn-lg"><a href="tel:+380951362209"
                                                                class="text-white text-decoration-none">Phone Number</a>
        </button>
        <button type="button" class="btn btn-primary btn-lg bg-dark"><a href="mailto: anastasiia.prykydieva.21@pnu.edu.ua"
                                                                class="text-white text-decoration-none">Email</a></button>
    </div>
{% endblock %}