<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Site{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>
<body class="bg-info" style="display: flex; flex-direction: column; height: 100vh;">
{% include 'nav.html' %}

<div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <p class="alert alert-{{ category }}">{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>

<div class="container" style="flex:1">
    {% block content %}
    {% endblock %}
</div>
{% block footer %}

{% endblock %}
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>