{% set menu = {"About": url_for('about'),
            "IPZ": url_for('ipz'), "Skills": url_for('skills_page'),
            "Contact": url_for('contact'), "Log in": url_for('login'),
            "To Do": url_for('todo')} %}


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="{{ url_for('static', filename='images/foto1.jpg') }}" alt="logo"
                                          width="80"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {% for name, url in menu.items() %}
            <li class="nav-item">
              <a class="nav-link" href="{{url}}">{{name}}</a>
            </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>