{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
    <h2 class="fs-1 mt-5 text-center">About</h2>
    <div class="row">
        <div class="col-6">
            <div class="bg-dark text-white p-5 mt-5 mb-5">
                <h2>Anastasiia Prykydieva</h2>
                <p>My commitment to staying current with emerging technologies and best practices in the field
                    is unwavering. I am eager to collaborate with like-minded individuals and organizations to tackle
                    challenging problems and produce elegant, scalable, and efficient software solutions.</p>
            </div>
        </div>
        <div class="col-6">
            <div class="bg-dark-subtle p-5 mt-5 mb-5">
                <h2>Biography</h2>
                <p>I'm a passionate software engineering student currently in my third year,
                    pursuing a Bachelor's degree in Software Engineering. I live in Ivano-Frankivsk, Ukraine.
                    I am a highly motivated, constantly seeking for opportunities to expand my knowledge and apply it
                    in practical settings.</p>
            </div>
        </div>
        <div class="col-6">
            <div class="bg-dark-subtle p-5 mt-5 mb-5">
                <h2>Problem Solver</h2>
                <p>With a love for problem-solving and a passion for coding, I've found my true calling
                    in software engineering. I thrive on challenges, constantly seeking elegant and efficient solutions
                    to complex problems. Let's team up to tackle your next big project and turn challenges into
                    opportunities.</p>
            </div>
        </div>
        <div class="col-6">
            <div class="bg-dark text-white p-5 mt-5 mb-5">
                <h2>Team Player and Collaborator</h2>
                <p>Software development is not just about code; it's about teamwork.
                    I thrive in collaborative environments, valuing open communication and collective problem-solving.
                    Working as a team, we can bring our ideas to life and create software that truly makes a difference.</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}
